@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* ===== HOME ===== */
#home {
  background: linear-gradient(104.04deg, #ffebec 0%, #e10002 65.37%, #fefe00 100%);
}

/* .h-home {
  height: calc(100vh - 88px);
} */

/* Home CTA */
/* Lebar button sesuai dengan panjang karakter huruf */
/* .home-cta {
  width: fit-content;
} */

.home-cta {
  width: 175px;
  background-color: #e10002;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-red);
  --bs-btn-border-color: var(--bd-red);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  /* --bs-btn-hover-bg: #{shade-color($bd-red, 10%)}; */
}

.home-cta:hover {
  background-color: #f80004;
}

/* ===== WHY US ===== */
.card-style {
  background-color: #ffebec;
  box-shadow: 0px 4px 16px #ffebec;
  border-radius: 32px;
}
.why-us-card {
  padding-left: 20px;
  padding-right: 20px;
  width: 342px !important;
}

.why-us-card h5 {
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 24px;
}

/* ===== LOCATION ===== */
.location {
  background: linear-gradient(102.07deg, #e10002 49.28%, #fefe00 133.72%);
}

.uil-location-point {
  font-size: 45px;
  color: #e10002;
  text-align: center;
}

.location-card {
  background-color: #ffebec;
  border-radius: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 756px) {
  .home-row {
    flex-direction: column-reverse;
  }
}
